/*
    Colors
*/
$black: #000000;
$white: #FFFFFF;
$darkBlue:#03045E;
$smoothBlue: #1E549F;
$blue: #2E79BA;
$lighterBlue: #5FC9F3;
$lighterBlue: #90E0EF;
$darkGray: #212529;
$smoothGray: #495057;
$gray: #6C757D;
$lightGray: #E9ECEF;
$lighterGray: #CED4DA;

/*
    FONTS
*/

$FontWeightRegular: normal;
$FontWeightMedium: 500;
$FontWeightBold: bold;

$FontSizeDisplay: 56px;
$LineHeightDisplay: 84px;

$FontSizeH1: 40px;
$LineHeightH1: 60px;

$FontSizeH2: 32px;
$LineHeightH2: 48px;

$FontSizeH3: 28px;
$LineHeightH3: 42px;

$FontSizeH4: 24px;
$LineHeightH4: 36px;

$FontSizeH5: 20px;
$LineHeightH5: 30px;

$FontSizeH6: 16px;
$LineHeightH6: 24px;

$FontSizeP: 16px;
$LineHeightP: 24px;

$FontSizeSmall: 13px;
$LineHeightSmall: 19px;

$FontSizeXSmall: 11.5px;
$LineHeightXSmall: 17px;
